body {
  font-family: 'Quicksand', sans-serif;
}
h1 {
  text-align: center;
}
#table-container {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}
table {
  width: 90vw;
  max-width: 960px;
  table-layout: fixed;
}
#add-button {
  max-width: 960px;
}
.title {
  width: 50%;
}
.author {
  width: 20%;
}
.read, .pages, .delete {
  width: 10%;
}
td, th {
  border: solid 1px gray;
  background-color: #ffeeee;
}
td:last-child {
  border: none;
  background-color: white;
}
ul {
  list-style-type: none;
}
form {
  display: none;
}
.text-input, .radio-input {
  display: grid;
  grid-template-columns: 100px 300px;
}
.text-input > label {
  grid-column: 1;
}
.text-input > input {
  grid-column: 2;
}
.radio-input > p {
  grid-column: 1;
  margin: 0;
}
.radio-input > div {
     grid-column: 2;
}
ul > li {
  margin-top: 5px;
}
button {
  background-color: lightsalmon;
  border-radius: 5px;
}
.read-status {
  background-color: #cccccc;
}
.button-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}
#add-book {
  margin-top: 10px;
  height: 2rem;
  width: 90px;
}